createdAt: "2019-05-07T12:08:07.614Z"
updatedAt: "2019-05-30T15:39:24.061Z"
type: "MARKDOWN_NOTE"
folder: "846fb24c5f8aad917395"
title: "Rate Your Music"
tags: []
content: '''
  # Rate Your Music
  
  4 - Database
  
  4.1. Where does all the information in the database come from?
  4.2. How can I contribute, correct or update information?
  4.3. How long does it take for contributions to be approved?
  4.4. What can I do to get my contributions/corrections approved quickly?
  4.5. Why do you not have song lyrics?
  All information in our database is entered, edited and maintained by our community of users and volunteer moderators. Sources of information can be anything from record sleeves to magazines/books to other sites on the internet. 
  But before you begin contributing, please see the relevant section of our site wiki to find out how to contribute the different types of information that our database records. Most database contributions are moderated, this means that any information or corrections you submit go into a queue for peer or moderator review before the submitted information/correction will become visible on the site.
  Database contribution is open to anyone with a RYM account. If you do not already have an account you can sign up for free here.
  Make sure you have followed our database standards/guidelines to the best of your understanding (see relevant wiki section).
  Publishing lyrics requires a license from the copyright holder(s) of those lyrics, which RYM currently does not have (and has no intention of acquiring in the near future). Providing lyrics without such a license would put us at risk of legal action and potentially harsh penalties.
  Related to the above question. While you cannot control exactly when your contributions are approved, there are certainly things you can do to help speed things up.
  Respond to any moderator requests in a timely fashion.
  So to get your contributions approved as quickly as possible the three main things to keep in mind:
  Supply proper sources and explanation for your changes.
  The most important one by far is to follow the guidelines documented on Sources. One of the primary reasons why submissions linger in the queue is because the meta-comments do not sufficiently explain where the information comes from or what the reason for an edit is. Remember that our moderators are not mind readers, the more you explain and document up front, the less time they will need to research or ask you questions before they can be confident enough that your contributions are correct. In general, the more confident a moderator can be that a contribution is correct, the quicker it will get approved.
  The other reason why contributions can linger in the queue for a long time is because submitters sometimes do not respond to requests from moderators in a timely fashion. If a moderator asks you to make some changes to your contribution or to supply some additional information, please try to do so as soon as possible. It is very unlikely to be approved until you do, and your contribution will eventually be denied if you do not respond within a reasonable amount of time.
  This is a question we get asked a lot. Unfortunately there is no easy answer. The contribution queues are usually quite big but they are not worked strictly from the oldest entries upwards. This means that approval times can range from several minutes (if you're lucky) to several weeks. Usually it is somewhere in between.
  To help safeguard the accuracy and consistency of the database we have various standards, rules and procedures for how to enter the different types of information that you can contribute. Please make sure you have read the relevant parts of our site wiki before you start contributing, to ensure that your contributions comply with those standards.
  We will continue to evaluate the efficiency of our contribution queues and we will be making changes in the future to ensure that the waiting times are as short as possible. But some patience is always going to be necessary. We understand that at times this can be frustrating, but remember that our site moderators are volunteers who work on the site in their spare time just like you are, so please try to remain patient and polite while you wait. See the next question for some tips on what you can do to help speed things up.
  You can always edit your pending contributions to fix them up if necessary (for instance if a moderator points out a problem with it), but submissions which do not meet our standards and which are not fixed up by the submitter will not make it through our moderation process.
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
