createdAt: "2019-05-09T13:45:46.253Z"
updatedAt: "2019-05-30T14:40:17.860Z"
type: "MARKDOWN_NOTE"
folder: "c50fd792c06c102068ae"
title: "[Object object]を文字列に変換"
tags: []
content: '''
  ## `[Object object]`を文字列に変換
  
  ```js
  for (let itemName of ItemList) {
    dataMap[itemName] = logDataList[i] + "";
  }
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
