createdAt: "2019-08-08T21:18:13.096Z"
updatedAt: "2019-10-10T08:13:54.410Z"
type: "MARKDOWN_NOTE"
folder: "42ac335d9c90abfc06ef"
title: "iView の言語設定"
tags: []
content: '''
  # iView の言語設定
  
  npm で iView をインストールし、言語設定する際にハマった点。
  
  ```js
  // OK
  import locale from 'iview/dist/locale/ja-JP'
  Vue.use(iView, {locale})
  
  // NG
  import ja from 'iview/dist/locale/ja-JP'
  Vue.use(iView, {ja})
  ```
  
  としないとうまく読み込まない。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
