createdAt: "2019-05-07T12:03:22.735Z"
updatedAt: "2019-05-07T12:04:37.673Z"
type: "MARKDOWN_NOTE"
folder: "e9aa534349ebaa3961bd"
title: "Bootstrap navbar"
tags: [
  "Bootstrap"
  "navbar"
]
content: '''
  # Bootstrap navbar
  ```html:navbar.html
  <!DOCTYPE>
  <html lang="ja">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Test</title>
  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <!-- 全体をclass="navbar navbar-default"で囲う -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
  
            <!-- ホームへ戻るボタン -->
            <a class="navbar-brand" href="#">P&amp;K</a>
  
            <!-- 横幅が狭いときのハンバーガーボタン -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">メニュー</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  
          </div> <!-- navbar-header -->
  
          <!-- メニュー項目 -->
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">子犬</a></li>
              <li><a href="#">子猫</a></li>
              <!-- ドロップダウンリスト -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">会社情報<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">ビジョン</a></li>
                  <li><a href="#">会社概要</a></li>
                  <li><a href="#">地図</a></li>
                  <li><a href="#">沿革</a></li>
                </ul>
              </li>
              <li><a href="#">お問い合わせ</a></li>
            </ul>
          </div> <!--メニュー項目  -->
        </div> <!-- container-fluid -->
      </nav>
    </body>
  </html>
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
