createdAt: "2019-05-08T11:37:14.208Z"
updatedAt: "2019-10-10T08:04:28.907Z"
type: "MARKDOWN_NOTE"
folder: "4ed3f698e3ae34acf919"
title: "疑問点"
tags: [
  "questions"
  "疑問"
]
content: '''
  # 疑問点
  
  ## コントローラーで定義したメソッドとかをシンボルで呼び出してるのは？
  
  `form_for(@user)`としたのに`params.require(@user).permit~`ではなく`params.require(:user).permit ~`?
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
