createdAt: "2019-09-21T07:10:52.842Z"
updatedAt: "2019-09-21T07:10:58.405Z"
type: "MARKDOWN_NOTE"
folder: "d41de58f2f8776076b18"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
