createdAt: "2019-05-06T12:32:51.464Z"
updatedAt: "2019-10-10T07:35:42.364Z"
type: "MARKDOWN_NOTE"
folder: "d642b49f05a0df4edcfc"
title: "WSL (Windows Subsystem for Linux)"
tags: [
  "途中"
]
content: '''
  # WSL (Windows Subsystem for Linux)
  
  ## WSL を有効にする
  
  1. 開発者モードを有効化
  2. Windows ストアで各ディストリビューションをインストールする
  
  ## zsh の有効化
  
  `/mnt/c/`下に配置されたファイルは権限がめちゃくちゃなので、ssh 秘密鍵などはLinux側のディレクトリ (`~/.ssh/`下とか) に置く。
  
  `~/.zsh`で各種設定した Windows のパス読み込まないようになど。
  
  ## WSLで Windows のフォルダにアクセス
  
  `/mnt/c/Users/balea`
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
