createdAt: "2019-05-07T12:01:47.067Z"
updatedAt: "2019-05-09T12:31:57.190Z"
type: "MARKDOWN_NOTE"
folder: "e9aa534349ebaa3961bd"
title: "Bootstrap sample"
tags: [
  "Bootstrap"
  "雛形"
]
content: '''
  # Bootstrap sample
  ```html
  <!DOCTYPE>
  <html lang="ja">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Test</title>
  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="container">
        <div class="row">
        </div>
      </div>
    </body>
  </html>
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
