createdAt: "2019-05-08T14:54:33.334Z"
updatedAt: "2019-05-30T15:22:02.009Z"
type: "MARKDOWN_NOTE"
folder: "b6b5a46a79484e873ebb"
title: "which"
tags: []
content: '''
  # `which`
  
  実行コマンドのフルパスを表示
  
  ```bash
  $ which [実行コマンド]
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
