createdAt: "2019-07-01T10:08:24.178Z"
updatedAt: "2019-10-06T15:23:34.446Z"
type: "MARKDOWN_NOTE"
folder: "8eecd56ec7357d6ca8d6"
title: "AWS Cloud9 で Vue CLI 環境を作る"
tags: []
content: '''
  # AWS Cloud9 で Vue CLI 環境を作る
  
  ## Node.js の安定板をインストール
  
  `yum`経由でインストールするとバージョンが古かったり、`node`ではなく`nodejs`コマンドで登録されてたりいろいろ面倒。
  
  [n package](https://github.com/tj/n)を使って任意のバージョンの Node.js をインストールする。
  
  npm をグローバルでインストールする場合は`su`ユーザーで入らないとパーミッションエラーになる。
  
  ```bash
  $ sudo yum install -y npm
  $ sudo npm install n -g
  $ sudo n stable
  installing : node-v10.16.3
         mkdir : /usr/local/n/versions/node/10.16.3
         fetch : https://nodejs.org/dist/v10.16.3/node-v10.16.3-linux-x64.tar.gz
     installed : v10.16.3 to /usr/local/bin/node
        active : v6.17.1 at /bin/node
  $ node -v
  v6.17.1
  ```
  
  - 安定板 - 'n stable'
  - LTS - `n ts`
  - 最新版 - 'n latest'
  
  yum でインストールした Node.js のパスが優先されているので、 n でインストールした Node.js を優先的に読み込むようにパスを設定する。
  
  ```diff:~/.bash_profile
  - PATH=$PATH:$HOME/.local/bin:$HOME/bin
  + PATH=$PATH:/usr/local/bin/:$HOME/.local/bin:$HOME/bin
  ```
  
  ```bash
  $ source ~/.bash_profile
  $ node -v
  v10.16.3
  $ sudo yum remove nodejs
  $ exec $SHELL -l
  ```
  
  ## Vue CLI のインストール
  
  `vue-cli`は ver1.x または ver2.x の時のパッケージ名で、ver3.x からは`@vue/cli`になった。
  
  ```bash
  $ npm install -g @vue/cli
  [Killed.............] \\ fetchMetadata: sill mapToRegistry uri https://registry.npmjs.org/sax
  $ npm config set registry http://registry.npmjs.org
  ```
  
  > This instance ran out of memory. To free up memory, kill processes by choosing "Tools > Process List" in the menu bar.
  
  ~~と出て、インストールが止まるので、yarn でインストールする。~~
  → GCE ではデフォルトでスワップ領域が作成されていなかったため。
  
  ```bash
  $ sudo npm install -g yarn
  $ sudo yarn global add @vue/cli
  $ sudo yarn global add @vue/cli-init
  ```
  
  `yarn`でインストールしたパッケージは`/home/nn_ono272727/.config/yarn/global/node_modules/.bin/vue`に格納されるので、パスを通す必要がある。
  
  ```bash
  $ export PATH=$PATH:/home/nn_ono272727/.config/yarn/global/node_modules/.bin
  $ echo $PATH
  ```
  
  ## Vue プロジェクトの作成
  
  vue-cli を npm 経由でインストールし、VueApp という名前のプロジェクトを作成後、`package.json`に記載されたパッケージをインストールする。
  
  ```bash
  $ vue init webpack [Project Name]
  $ cd [Project Name]
  $ npm install
  ```
  
  webpack-dev-server の設定を変更する。
  
  ```diff:build/webpack.dev.conf.js
  devServer: {
    clientLogLevel: 'warning',
    historyApiFallback: true,
    hot: true,
    compress: true,
  - host: process.env.HOST || config.dev.host,
  - port: process.env.PORT || config.dev.port,
  + host: '127.0.0.1',
  + port: '8080',
  + disableHostCheck: true,
  ```
  
  ```bash
  npm run dev
  ```
  
  として、Preview → Preview Running Application とすると「**Welcom to Your Vue.js App**」と表示される。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
