createdAt: "2019-05-07T12:08:51.407Z"
updatedAt: "2019-05-07T12:14:01.615Z"
type: "MARKDOWN_NOTE"
folder: "846fb24c5f8aad917395"
title: "Edge of Sound ?"
tags: []
content: '''
  # Edge of Sound ?
  ### バックエンド
  - Rails
    - APIに徹する？
  
  ### フロントエンド
  - Vue.js
  - Vue Router
  - Vuex
  - Nuxt.js
  
  ### CSSフレームワーク
  - Bulma?
  
  ### インフラ
  - AWS?
  - 最初はHeroku?
  
  ### twitterの声
  Filmarksみたいな感じの音楽版ていうとやはりRate Your Musicなのかな？もうちょい使い勝手のいいのないのかな。Discogsはライブラリ管理＋ウィッシュリストって感じだしなー。
    0:01 - 2018年3月5日
  
  @rereken
  3月5日
  返信先: @Toro7715さん
  過去、読書メーターの音楽版を作る的なサイトや話出てるけど、結局残ってないか、定着してないんですよねー。
  
  下手に独自性出さず、filmarksの完全パクリでもいいと素人判断では思うんですが、やっぱ映画に比べて圧倒的な物量差があることが問題なんですかね。。。
  
  @Toro7715
  3月5日
  たしかに絶対数が多いので、ある程度ユーザー自身で編集するwiki的なものにならざるをえないのかもしれませんね。
  
  @u_mass3
  3月4日
  フィルマークスほんとに便利で楽しいですよね。いやほんとにこれの音楽版ができて同じくらい流行らないかと何度思ったことか・・・
  
  @Toro7715
  3月4日
  最近のツイッターの流れ的に、それぞれの分野の専用SNSでログをつけて、そのインデックス的な感じでツイッターを使うのが1番いい気がしますね。
  
  @u_mass3
  3月5日
  いいですねえそれ。実際にそれくらいできるほどにまで専用SNSが増えればいいのに・・・。そうすると、ここのツイッターで知り合って絡む人ってのはなんだか奇妙な仲ですね（笑）
  
  rateよりユーザビリティに特化した、Filmarksの音楽版みたいなアプリ切実に必要だと思う
  
  Edge of sound
  
  チャット 風船 吹き出しの大きさ変わる
'''
linesHighlighted: []
isStarred: false
isTrashed: false
