createdAt: "2019-05-09T12:00:27.481Z"
updatedAt: "2019-05-24T03:32:37.434Z"
type: "MARKDOWN_NOTE"
folder: "4ed3f698e3ae34acf919"
title: "ERBファイルの動的処理とコメントアウト"
tags: [
  "ERB"
]
content: '''
  # ERBファイルの動的処理とコメントアウト
  
  ERB テンプレートは HTML や XML、プレーンテキストに Ruby スクリプトを埋め込む(embed)ための仕組み。
  
  ```ruby
  <%= [式の値を返す] %>
  <% [任意のコード] %>
  
  <%# [コメント] %>
  # <% # コメント %> はNG
  # <% msg="メッセージ" # コメント %> はOK
  ```
  
  `<%= -%>`, `<% -%>`とすると後方の空白や改行(`\\n`)を除去できる。
  デザインの厳密性のある時などに必要。
  
  ## 条件式によるコメントアウト
  
  ```ruby
  <% if false %>
  <% msg = "無視される" %>
  <%= msg %>
  <% end %>
  ```
  
  ## begin, endによるコメント
  
  beginとendは行頭に書かなければならない
  
  ```ruby
  <%
  =begin
  %>
  <% msg = "無視される" %>
  <%= "無視される" %>
  <%
  =end
  %>
  ```
  
  ## HTMLのコメント
  
  ```html
  <!-- ユーザーのソースで見れちゃうコメント -->
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
