createdAt: "2019-09-02T15:35:17.416Z"
updatedAt: "2019-09-03T09:24:36.149Z"
type: "MARKDOWN_NOTE"
folder: "c50fd792c06c102068ae"
title: "Flux アーキテクチャ"
tags: [
  "途中"
]
content: '''
  # Flux アーキテクチャ
  
  ## 参考
  
  [10分で実装するFlux](https://azu.github.io/slide/react-meetup/flux.html)
  [Translation Note 📝 - samyamashita - Medium](https://medium.com/samyamashita/漫画で説明する-flux-1a219e50232b#.kkglld8lb)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
