createdAt: "2019-07-24T09:42:49.754Z"
updatedAt: "2019-07-24T09:47:51.564Z"
type: "MARKDOWN_NOTE"
folder: "99c1744cc6189c73e4c0"
title: "Stackdriver"
tags: []
content: '''
  # Stackdriver
  
  ```js
  const message = "Hello!"
  console.log(message);
  console.log("");
  ```
  
  とすると Stackdriver でログ拾えない。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
