createdAt: "2019-05-09T12:38:06.452Z"
updatedAt: "2019-05-24T03:07:24.889Z"
type: "MARKDOWN_NOTE"
folder: "d41de58f2f8776076b18"
title: "data-toggle=\"#idname\""
tags: []
content: '''
  # `data-toggle="#idname"`
  `id="idname"`のやつを参照する。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
