createdAt: "2019-05-09T12:38:06.452Z"
updatedAt: "2019-10-10T08:02:26.491Z"
type: "MARKDOWN_NOTE"
folder: "d8b18fc544434022f6d8"
title: "data-toggle=\"#idname\""
tags: [
  "途中"
]
content: '''
  # `data-toggle="#idname"`
  
  HTML 内で`id="idname"`のものを参照する。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
