createdAt: "2019-09-03T09:36:42.448Z"
updatedAt: "2019-10-10T07:56:54.772Z"
type: "MARKDOWN_NOTE"
folder: "42ac335d9c90abfc06ef"
title: "Webpack4 を理解する"
tags: [
  "途中"
]
content: '''
  # Webpack4 を理解する
  
  - 複数の JavaScript ファイルを1つのファイルにバンドル化するモジュールバンドラーの1つ
    - Browserify
    - RequireJS
    - SystemJS
  - ビルド - バンドルを出力するまでの一連の処理
  
  ## インストール
  
  ```bash
  $ npm install webpack webpack-cli
  ```
  
  ## 設定項目
  
  - `mode`
  - `entry`
  - `output`
  - `loader`
  - `plugins`
  
  ```js
  const path = require('path')
  ```
  
  ## 参考
  
  [Webpack の考え方について - mizchi's blog](https://mizchi.hatenablog.com/entry/2018/11/26/164523)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
