createdAt: "2019-08-17T11:19:52.763Z"
updatedAt: "2019-08-17T11:51:35.805Z"
type: "MARKDOWN_NOTE"
folder: "fbf53ad0a1ed9b9ef88a"
title: "並行処理と並列処理"
tags: []
content: '''
  # 並行処理と並列処理
  
  複数のプロセスを処理する際の CPU の振る舞いの仕方には以下のようなものがある。
  
  ## 並行処理 (concurrent processing)
  
  - 複数の動作を**単一**の処理装置で**同時に進行状態を保ちながら**実行する処理形式
  - 各処理の処理時間を極めて短い時間ごとに分割し、実行する命令の流れを次々に切り替えるている
  - マクロで見ると同時に複数の処理が実行されているように見える。
  - 実行する命令を切り替える処理 (コンテキストスイッチ) の分だけ性能は低下する
  - 単純に同時にやることあるいは他を待たせないことが目的
  
  ### 実現方法
  
  - マルチプロセス (マルチタスク) - 複数のプログラムを並行して進める
  - マルチスレッド - 1つのプログラム内で複数の処理を並行して進める
  
  
  ## 並列処理 (parallel processing)
  
  - 複数の動作を**複数**の処理装置で**同時に**実行する処理形式
  - CPU や CPU のコアが物理的に複数ある時に可能
  - CPU のコアの分だけ実行可能
  - 速くすることが目的
  
  ### 実現方法
  
  - マルチプロセッサ - 1台のコンピュータに複数の CPU を搭載させて複数の処理を実行
  - マルチコアプロセッサ - 1つの CPU に複数の演算回路を搭載させて複数の処理を実行
  - 同時マルチスレッド (simultaneous multithreading) - 空いている回路で実行可能な別の処理を行う (広義の並列処理)
  
  ## 参考
  
  [並列処理（パラレルプロセッシング）とは - IT用語辞典 e-Words](http://e-words.jp/w/%E4%B8%A6%E5%88%97%E5%87%A6%E7%90%86.html)
  [並行処理、並列処理のあれこれ - Qiita](https://qiita.com/Kohei909Otsuka/items/26be74de803d195b37bd)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
