createdAt: "2019-05-09T12:45:42.392Z"
updatedAt: "2019-07-06T12:56:25.871Z"
type: "MARKDOWN_NOTE"
folder: "660920097553891f8089"
title: "image と container"
tags: []
content: '''
  # image と container
  
  - image - OS のインストールディスクを仮想化したもの
  - container - OS が起動しているサーバーを仮想化したもの
  
  ```bash
  $ sudo docker run hello-world
  Hello from Docker!
  ```
  
  `docker run`とすると、 run した回数分の container が作成される。image は既にローカルにあれば再利用され、なければ`pull`される。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
