createdAt: "2019-05-09T11:58:32.182Z"
updatedAt: "2019-05-24T03:25:08.634Z"
type: "MARKDOWN_NOTE"
folder: "4ed3f698e3ae34acf919"
title: "Webサーバーとアプリケーションサーバー"
tags: [
  "Webサーバー"
  "アプリケーションサーバー"
  "Rack"
  "Nginx"
  "Apache"
]
content: '''
  # Webサーバーとアプリケーションサーバー
  
  ## Webサーバー
  
  webサーバーはユーザーから送られてきた自サイトへのリクエストを受け取り、なんらかの処理を加え、場合によってはアプリケーションにリクエストを投げるプログラム。
  CSSやJavaScript、画像など、頻繁に変化しないファイルへのリクエスト、SSLリクエストや静的なファイルやアセット、圧縮されたリクエスト等を行う。
  
  例）Nginx (エンジンエックス)、Apache (アパッチ)
  
  ## アプリケーションサーバー
  
  アプリケーションを動かしているサーバー (のプログラム)。
  Webサーバーからリクエストを受け、アプリケーションがリクエストを処理すると、アプリケーションサーバーはそのレスポンスをwebサーバーに返す。
  
  ## Rack
  
  Rack は Rails のような Ruby 製のwebフレームワークとアプリケーションサーバーの両方が話せる共通言語のようなもの。これがあればアプリケーションサーバーのみでアプリが動く
  
  - development 環境 - アプリケーションサーバー単体で開発
  - production 環境 - Webサーバー + アプリケーションサーバー
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
