createdAt: "2019-05-09T12:11:57.473Z"
updatedAt: "2019-05-09T12:12:14.322Z"
type: "MARKDOWN_NOTE"
folder: "4ed3f698e3ae34acf919"
title: "delete メソッド"
tags: [
  "ミス"
]
content: '''
  ## delete メソッド
  delete メソッドを送信してログアウトするとき、 get メソッドを送信してしまってルーティングエラーになる。
  - ##### `method: :delete`を指定してない
  - ##### `app/views/layouts/application.html.erb`でデフォルトの JavaScript タグが削除されてた。
    以下を追加したら正常に動作した。
  ```diff:app/views/layouts/application.html.erb
  + <%= javascript_include_tag 'application' %>
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
