createdAt: "2019-05-09T12:37:45.307Z"
updatedAt: "2019-10-10T08:02:57.830Z"
type: "MARKDOWN_NOTE"
folder: "4039f1ba9fa0956ce334"
title: "display: inline-block;から変更できない要素"
tags: []
content: '''
  # `display: inline-block;`から変更できない要素
  
  ```html
  <button>
  <input> <!-- (type=image と type=hidden を除く) -->
  <meter>
  <progress>
  <select>
  <textarea>
  <keygen>
  ```
  
  [display: block で width 100% にならない要素](https://qiita.com/ysds/items/ea86e9b4a675f662497d)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
