createdAt: "2019-05-09T12:02:45.781Z"
updatedAt: "2019-05-24T03:25:36.764Z"
type: "MARKDOWN_NOTE"
folder: "4ed3f698e3ae34acf919"
title: "テーブル定義についての規約"
tags: [
  "命名"
  "命名規則"
  "テーブル"
]
content: '''
  # テーブル定義についての規約
  
  ## テーブル名とクラス名
  
  - テーブル名は複数形
  - 単語の区切りはスネークケース (`table`)
  - 対応するクラス名キャメルケース
  
  ## キーのカラム名
  
  - 主キーのカラム名は`id`
  - 外部キーのカラム名は`[テーブル名の単数]_id`
  
  ## 日付関連のカラム名
  
  - DATE 型のカラムには名前を`[受動態]_on`
  - TIMESTAMP 型のカラムには名前を`[受動態]_at`
    - 更新日時、作成日時は`updated_at`、`created_at`
  
  ## 結合テーブル
  
  関連させたいテーブル名をくっつけた名前にする。
  カラム`id`を作らずに、関連させる2つのキーのセットを主キーにする。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
