createdAt: "2019-05-05T10:46:49.686Z"
updatedAt: "2019-05-05T10:46:55.421Z"
type: "SNIPPET_NOTE"
folder: "770da9bb44957224bcc5"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
