createdAt: "2019-05-22T15:37:56.046Z"
updatedAt: "2019-08-20T14:11:10.305Z"
type: "MARKDOWN_NOTE"
folder: "b6b5a46a79484e873ebb"
title: "chmod"
tags: [
  "途中"
]
content: '''
  # chmod
  
  - パーミッションを変更するコマンド
'''
linesHighlighted: []
isStarred: false
isTrashed: false
