createdAt: "2019-05-09T12:44:07.874Z"
updatedAt: "2019-05-09T12:44:23.801Z"
type: "MARKDOWN_NOTE"
folder: "b6b5a46a79484e873ebb"
title: "kill"
tags: []
content: '''
  ### `kill`
  ```bash
  kill 9 [processID]
  ```
  プロセスを停止するコマンド。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
