createdAt: "2019-08-04T09:37:41.174Z"
updatedAt: "2019-10-10T07:34:12.374Z"
type: "MARKDOWN_NOTE"
folder: "d642b49f05a0df4edcfc"
title: "Powershell で日本語の文字列を扱う"
tags: [
  "Powershell"
  "エンコード"
  "UTF-8"
  "BOM"
]
content: '''
  # Powershell で日本語の文字列を扱う
  
  Powershell で扱う文字コードを変更する。
  
  ```bash
  # Change Code Page
  $ chcp
  Active code page: 932
  
  # Shift_jis (932) から UTF-8 (65001) へ変更する
  $ chcp 65001
  Active code page: 65001
  ```
  
  ファイルは UTF-8 with BOM で保存する。
  
  ```powershell:yahho.ps1
  echo "やっほ"
  ```
  
  ```bash
  $ ./yahho.ps1
  やっほ
  ```
  
  ## BOM とは
  
  バイトオーダーマーク (Byte Order Mark) の略で、Unicode でエンコードされていることおよびエンコードの種類の判別のためにテキストの先頭に付与される数バイトのデータのこと。
  
  Microsoft Excel などのアプリケーションでは BOM がないと文字コードが判別できない場合がある。
  一方、Webページを動的に生成する PHP などの言語では BOM 付きのテキストファイルを正常に処理できない場合がある。
  このため、BOM の有無の是非は状況に応じて変わってくる。
  
  ## 参考
  
  [Windows PowerShellの文字コードを変更する（コマンドプロンプトも）](https://blog.e2info.co.jp/2016/02/27/windows-powershell-chcp/)
  [Code Page Identifiers](https://docs.microsoft.com/ja-jp/windows/win32/intl/code-page-identifiers)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
