createdAt: "2019-07-15T10:02:47.082Z"
updatedAt: "2019-09-05T10:47:06.239Z"
type: "MARKDOWN_NOTE"
folder: "f47cc82cbc7c9600eb93"
title: "NoSQL"
tags: [
  "途中"
]
content: '''
  # NoSQL
  
  - 非リレーショナルデータベース (RDBMS)の総称で、Not Only SQL の略
  - データの形が一意でなく、複数の形式をとるデータに対して、スキーマ (テーブル構造) をフレキシブルに変更できる
  - リレーションをもたないため、拡張性、パフォーマンスに優れる
    - リレーションによる結合は拡張性、速度を犠牲にする
  - トランザクションがない
    - 一時的に整合性がない状態になっても最終的には整合性が保たれる (結果整合性) という考えを基に設計
    - アプリケーション側で整合性を担保する必要がある
  - スケールアウト (水平スケール) がしやすい
    - スケールアップ (垂直スケール) には物理的な限界が存在
    - ビックデータを分散させて処理することができる
  
  ## RDBMS
  
  | 発表年 | 開発元 | 製品 |
  | :---: | :---: | :---: |
  | 1977 | Oracle | Oracle Database |
  | 1983 | IBM | DB2 |
  | 1989 | Microsoft | SQL Server|
  | 1989 | OSS | PostgresSQL
  | 1995 | OSS | MySQL |
  
  - レコード (各データ) がいくつかの属性をもち、表の形式で保存される
  - データやデータの集合に対して関係演算 (結合/射影/制限/和/...etc) が行える
  
  ## ITシステムの成長
  
  - ムーアの法則 - 集積回路上のトランジスタ数は18ヶ月ごとに2倍になる
  
  ## 分類
  
  ### データモデルによる分類
  
  どのようにデータをもつか
  
  - キー・バリュー型
    - 連想配列やディクショナリ型のように`Key: Value` を単位とする
    - シンプルでレスポンスが速い
    - Redis, Riak, etc...
  - ドキュメント指向型
    - JSON, XML のような構造をもったドキュメントを単位とする
    - スキーマレスで格納 (データカラムの形式を自由に変更) できる
    - MongoDB, CouchDB, etc...
  - カラム指向型
    - 表の構造をもちつつ、カラム単位でデータを保持する
    - 列単位の大量の集計・更新が得意
    - Cassandra, HBase, etc...
  - グラフ型
    - ノード、リレーションシップ、プロパティによって定まるデータを単位とする
    - グラフ理論を基にデータをグラフ構造で格納
    - Facebook の知り合いかも機能などに利用
    - Neo4j, etc...
  
  ### アーキテクチャによる分類
  
  どのように分散させてデータをもつか
  
  - マスタ型
    - クラスタを構成するノードの中にメタ情報を管理するマスタが存在
    - クラスタ全体の性能はマスタの処理性能、耐性に依存
  - P2P型
    - クラスタを構成する各ノードがすべて対等
    - 障害耐性の偏りがなく、スケールアウト (水平スケール) がほぼリニアに実現
    - ネットワーク分断時にはスプリットブレインが発生する可能性がある
  
  
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
