createdAt: "2019-07-15T10:02:47.082Z"
updatedAt: "2019-07-15T13:01:40.216Z"
type: "MARKDOWN_NOTE"
folder: "f47cc82cbc7c9600eb93"
title: "NoSQL"
tags: []
content: '''
  # NoSQL
  
  - 非リレーショナルデータベースの総称で、Not Only SQL の略称。
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
