createdAt: "2019-07-18T11:26:53.288Z"
updatedAt: "2019-10-10T08:15:33.090Z"
type: "MARKDOWN_NOTE"
folder: "660920097553891f8089"
title: "Docker 主要コマンド"
tags: []
content: '''
  # Docker 主要コマンド
  
  ## image
  
  - `pull` - レジストリから取得
  - `ls` - イメージの一覧を表示
    - `-a` - 停止中のイメージの一覧
  - `inspect` - イメージの詳細を表示
  - `tag` - タグをつける
  - `push` - レジストリにアップ
  - `rm` - 削除
  - `save` - メタ情報を含めた**イメージ**を tar ファイルに保存
    - cf. `export` - メタ情報は無視し、ファイルシステムのみを含んだ**コンテナ**を tar ファイルに保存
  - `load` - `save`で固めた tar ファイルからイメージを作成
  - `import` - `export`で固めた tar ファイルからイメージを作成
  
  # container
  
  - `ls` - コンテナの一覧を表示
    - cf. `ps` - コンテナの一覧を表示
  - `run` - イメージからコンテナを生成し、実行
  - `stats` - リソース使用状況を表示
  - `logs` - 実行ログを確認
  - `create` - イメージからコンテナを生成
  - `start` - 起動
  - `stop` - 停止
  - `restart` - 再起動
  - `pause` - 一時停止
  - `unpause` - 一時停止中のコンテナを再起動
  - `rm` - 停止中のコンテナを起動
  - `attatch` - PID=1の稼働中コンテナに接続
    - `exit`を実行するとコンテナそのものが停止
  - `exec` - 稼働中コンテナに接続し、任意のコマンドを実行
    - `exit`を実行するとコマンドのプロセスのみが終了し、コンテナは停止しない
    - 不意にコンテナを止めることがないため安全？
  - `top` - 稼働中コンテナ内のプロセス一覧を表示
  - `port` - コンテナの公開ポート番号を表示
  - `rename` - 名前を変更
  - `cp` - コンテナとホストマシン間でファイルやディレクトリをコピー
  - `diff` - イメージが生成されてからの差分を表示
  - `commit` - 変更があったコンテナからイメージを作成
  - `export` - メタ情報は無視し、ファイルシステムのみを含んだ**コンテナ**を`tar`ファイルに保存
    - cf. `save` - メタ情報を含めた**イメージ**を`tar`ファイルに保存
  
  ## その他
  
  - `version` - バージョン情報
  - `info` - 実行環境情報
  - `search` - イメージの検索
  - `login` - Docker Hub へのログイン
  - `logout` - Docker Hub からのログアウト
  
  ## 参考
  
  [Docker コマンド — Docker-docs-ja 17.06.Beta ドキュメント](http://docs.docker.jp/engine/reference/commandline/)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
