createdAt: "2019-05-09T12:34:45.970Z"
updatedAt: "2019-05-09T12:35:26.309Z"
type: "MARKDOWN_NOTE"
folder: "d8b18fc544434022f6d8"
title: "position"
tags: [
  "position"
]
content: '''
  ### position
  #### position: fixed
  スクロールしても位置を固定する。
    
  #### 画像の下に空白できるときがある
  ```css
  img {
      vertical-align: bottom;
  }
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
