createdAt: "2019-08-21T09:50:51.836Z"
updatedAt: "2019-09-21T07:14:58.278Z"
type: "MARKDOWN_NOTE"
folder: "42ac335d9c90abfc06ef"
title: "npm のローカルインストールとグローバルインストール"
tags: [
  "Node.js"
  "npm"
  "package.json"
]
content: '''
  # npm のローカルインストールとグローバルインストール
  
  ## グローバルインストール
  
  ```bash
  $ npm install @vue/cli -g
  ```
  
  `npm`のインストール場所にある`node_modules`にパッケージをインストールする。
  
  
  
  ## ローカルインストール
  
  ```bash
  $ mkdir myproject
  $ cd myproject
  $ npm init
  $ npm install @vue/cli
  ```
  
  `npm init`で`package.json`が作成され、これにはパッケージの依存関係が記載される。
  
  作成したプロジェクトディレクトリ内の`node_modules`にパッケージがインストールされる。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
