createdAt: "2019-07-22T10:20:25.545Z"
updatedAt: "2019-07-22T10:20:34.201Z"
type: "MARKDOWN_NOTE"
folder: "660920097553891f8089"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
