createdAt: "2019-08-14T14:13:49.615Z"
updatedAt: "2019-08-17T14:34:34.719Z"
type: "MARKDOWN_NOTE"
folder: "b6b5a46a79484e873ebb"
title: "init"
tags: []
content: '''
  # init
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
