createdAt: "2019-07-10T14:13:09.235Z"
updatedAt: "2019-07-10T14:30:51.162Z"
type: "MARKDOWN_NOTE"
folder: "660920097553891f8089"
title: "more"
tags: []
content: '''
  # more
  
  - 長いテキストファイルやメッセージを少しずつ表示
  - `Enter`で1行進む
  - `Space`で1画面進む
  - `q`で終了
  
  ## オプション
  
  - `+[数値]` - [数値]行目から表示
  - `+/[文字列]` - [文字列]で検索して、見つけた行の2行上から表示
  - `-s` - 連続した空行を1行にする
  - `-l` - 改ページを無視
  - `-u` - 下線の処理を行わない
  - `- [数値]` - 画面の行数を指定
  - `-f` - 画面の行数でなく、データ自体の行数を表示
  - `-d` - 無効なキーが入力されたとき、ビープ音の代わりに簡単なヘルプを表示
  
  ## サブコマンド
  
  `Enter`と`Space`の他に以下のサブコマンドがある。
  
  - `[数値] s` - [数値]行分スキップし、指定しない場合は1行分か直前に指定した行数分スキップ
  - `[数値] f` - [数値]画面分スキップ
  - `[数値] b` - [数値]画面分戻る
  - `=` - 現在の行番号を表示
  - `.` - 直前のコマンドを繰り返す
  - `/[正規表現]` - 文字列を検索
  - `n` - 直前の検索を繰り返す
  - `h` - ヘルプを表示する
  
  ## 例
  
  ```bash
  # /etc/bashrc を少しずつ表示
  $ more /etc/bashrc
  
  # 起動後のメッセージをパイプで渡して行番号とともに少しずつ表示
  $ dmesg | cat -n | more
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
