createdAt: "2019-08-31T15:06:06.029Z"
updatedAt: "2019-09-16T16:27:38.166Z"
type: "MARKDOWN_NOTE"
folder: "99c1744cc6189c73e4c0"
title: "Firebase-tools でログイン後のリダイレクトがされない"
tags: [
  "Firebase"
]
content: '''
  # Firebase-tools でログイン後のリダイレクトがされない
  
  ```bash
  $ fireabase login --no-localhost
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
