createdAt: "2019-07-30T11:12:19.610Z"
updatedAt: "2019-07-30T11:12:19.610Z"
type: "MARKDOWN_NOTE"
folder: "d41de58f2f8776076b18"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
