createdAt: "2019-05-06T14:54:51.691Z"
updatedAt: "2019-06-29T11:24:24.479Z"
type: "MARKDOWN_NOTE"
folder: "b79b757a3f246f39516b"
title: "1-1. 基本的な記法"
tags: [
  "JavaScript"
  "テキスト"
]
content: '''
  # 1-1. 基本的な記法
  
  ## スクリプトを読み込む位置
  
  - 基本は`</body>`の直前に`<script></script>`
  - 関数定義を先に読み出したり、スクリプトからスタイルシートを出力したい場合は`<head>`要素配下。
  - レイアウトとスクリプトは分離する。
  
  ## IE用
  
  `<noscript></noscript>`
  
  ## 疑似プロトコル
  
  ```html
  <a href="JavaScript: window.alert('Hello!');">ダイアログを表示</a>
  ```
  
  ## ルール
  
  - 文末には`;`
  - 文の途中で改行、空白、タブを含めることが可能
  - 大文字/小文字は厳密に区別される
  - 複数の文を単一行で書くこともできる（非推奨）
  
    ```js
    window.alert("hello!"); window.alert("world!");
    ```
  
  ### コメント
  
  ```js
  // コメント
  
  /*
  コメント
  コメント
  コメント
  普通は使わない
  */
  ```
  
  - `/**/`は二重で囲めない
  - `*/`は正規表現リテラルで出現する可能性がある
  
    ```js
    /*
    const result = str.match(/[0-9]*/);
    */
    ```
    以上の例だと正規表現リテラルの途中でコメントが終了していると解釈されてしまう。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
