createdAt: "2019-07-30T10:10:24.142Z"
updatedAt: "2019-10-06T15:24:27.090Z"
type: "MARKDOWN_NOTE"
folder: "99c1744cc6189c73e4c0"
title: "GCE + Cloud9"
tags: [
  "公開鍵"
  "SSH"
  "Cloud9"
  "IAM"
]
content: '''
  # GCE + Cloud9
  
  ## GCE インスタンスを無料枠内で立てる
  
  - 名前 - 仮想マシンインスタンスの名前
  - リージョン - バージニア州北部を除く米国リージョン
  - ゾーン - リジョーン内の領域
  - マシンタイプ
    - vCPU (仮想CPU) 数
    - メモリ
    - ディスク容量
    - ブートディスク
      - 標準永続ディスク
      - 30GB
    - OSイメージ - Linux のディストリビューション、Windows Server など
  
  ## SSH 接続をするポート番号を変更する (GCE側)
  
  1. '/etc/ssh/sshd_config'の中の`Port`の項目を任意のポート番号に変更してコメントアウトを解除する。
  
  ```diff:/etc/ssh/sshd_config
  - #Port 22
  + Port 12345
  ```
  
  3. sshd を再起動する。
  
  ```bash
  $ sudo systemctl restart sshd
  ```
  
  4. VPCネットワーク > ファイアウォールルール から、SSH 接続してポート開けるルールを設定。
  5. 設定したファイアウォールに`allow[ポート番号]-server`というタグを追加し、インスタンス側にも同様のタグをつけて設定を紐づける。
  6. Computer Engines > VM インスタンス から、指定したポート番号で SSH 接続をする。
  
  ## スワップ領域の作成
  
  ```bash
  # /swapfile という1024MBのファイルをすべて null 文字で作成する
  $ dd if=/dev/zero of=/swapfile bs=1M count=1024
  
  # 権限を設定
  $ chmod 600 /swapfile
  
  # スワップ領域の作成
  $ mkswap /swapfile
  
  # スワップ領域の有効化
  $ swapon /swapfile
  ```
  
  `dd` - 指定したサイズのファイルを作成
    - `if` - インプットファイルを指定
      - `/dev/zero` - すべて null 文字のファイル
    - `of` - `if` で指定されたファイルを`/swapfile`を書き込む
    - `bs` - 一度に書き込みするブロック数
    - `count` - 書き込みの個数
  
  以下のようにスワップ領域が確保される。
  
  ```bash
  $ free -m
                total        used        free      shared  buff/cache   available
  Mem:            587         307          40           4         239         126
  Swap:          1023           0        1023
  ```
  
  ## Node.js の LTS をインストール (GCE側)
  
  ```GCE側:bash
  $ sudo yum update
  $ sudo yum install npm -y
  $ sudo npm install -g n
  $ sudo n stable
  ```
  
  ## Cloud9 から GCE インスタンスに接続する (Cloud9側)
  
  GCE のインスタンスのあるリジョンと Cloud9 のリジョンを揃えて Cloud9 上にプロジェクトを作成する。
  
  **ルートユーザーで開発環境を作成すると、GCE インスタンスに登録する公開鍵が root ユーザーのものになってしまうため、IAM で作成した任意のユーザーIDで接続するようにする。**
  
  ### User
  
  ```bash
  $ who
  nn_ono272727
  ```
  
  ### Host
  
  GCE の~~エフェメラルな~~静的な**外部IP**を設定する。
  → VPC ネットワーク > IP アドレスのタイプを「静的」にしておく。
  
  以下でも確認できる。
  
  ```bash
  $ curl ifconfig.me
  104.196.247.162
  ```
  
  ちなみに以下は内部IPを出力する。
  
  ```bash
  $ ip a
  $ ip -4 a
  $ hostname -I
  $ ifconfig
  ```
  
  ### Port
  
  `/etc/ssh/sshd_config`から開放しているポート番号を取得する。
  
  ```bash
  $ sudo cat /etc/ssh/sshd_config | grep Port
  Port 56387
  ```
  
  ### Node.js binary path
  
  ```bash
  $ which node
  /usr/local/bin/node
  ```
  
  ### Cloud9 で生成された公開鍵を GCE インスタンスに登録する
  
  ```bash
  # authorized_keys を管理者のみ読み書きできる権限に変更
  $ chmod 600 ~/.ssh/authorized_keys
  
  # authorized_keys の所有者を変更
  $ chown nn_ono272727.nn_ono272727 ~/.ssh/authorized_keys
  
  $ ls -l ~/.ssh/authorized_keys
  -rw-------. 1 nn_ono272727 nn_ono272727 752 Jul 20 06:56 /home/nn_ono272727/.ssh/authorized_keys
  ```
  
  Cloud9側で「Copy key to clipboard」としてコピーした SSH 認証鍵を VM インスタンスの管理画面から追加する。
  
  このとき、SSH 認証鍵を以下のように変更しないと認証エラーになる。
  
  ```diff:ssh-key
  - ... user+[アカウントID]@cloud9.amazon.com
  + ... user@cloud9.amazon.com
  ```
  
  その後、インスタンスを再起動すると登録した SSH 認証鍵が`~/.ssh/authorized_keys`に追加されている。
  
  ## Cloud9 IDE をインストール
  
  ```bash
  $ sudo yum groupinstall -y development
  $ sudo yum install glibc-static
  ```
  
  ### パーミッションエラーが発生する場合
  
  ```bash
  $ sudo passwd root
  $ sudo passwd nn_ono272727
  $ sudo ls
  [sudo] password for nn_ono272727:
  nn_ono272727 is not in the sudoers file.
  $
  ```
  
  sudo ユーザーとして`/etc/sudoers`に自身を追加する必要がある。
  `/etc/sudoers`は root 権限を持っていても書き込み権限がないため、専用のコマンド`visudo`で書き込む必要がある。
  
  ```bash
  # root ユーザーに切り替える
  # su -l root と同義
  $ su - root
  Password:
  $ visudo
  ```
  
  ```diff
  ## Next comes the main part: which users can run what software on
  ## which machines (the sudoers file can be shared between multiple
  ## systems).
  ## Syntax:
  ##
  ##      user    MACHINE=COMMANDS
  ##
  ## The COMMANDS section may have other options added to it.
  ##
  ## Allow root to run any commands anywhere
  root    ALL=(ALL)       ALL
  + nn_ono272727    ALL=(ALL)       ALL
  ```
  
  保存して`exit`で root を抜けると`sudo`できるようになっている。
  
  ```bash
  $ sudo ls
  ```
  
  ## 参考
  
  - [これから始めるGCP（GCE）　安全に無料枠を使い倒せ](https://qiita.com/Brutus/items/22dfd31a681b67837a74)
  - [AWS Cloud9の導入方法〜SSH接続編〜](https://blog.simmon.design/aws-cloud9-tutorial-ssh/)
  - [AWS Cloud9 + GCEインスタンスで無料の開発環境を手に入れる](https://qiita.com/j-un/items/f5d72d21f67d384d3c84)
  - [GCE設定の注意点｜yanchan2020｜note](https://note.mu/yanchan2020/n/n381655875385)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
