createdAt: "2019-07-30T11:12:49.656Z"
updatedAt: "2019-08-04T11:07:50.952Z"
type: "MARKDOWN_NOTE"
folder: "99c1744cc6189c73e4c0"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
