createdAt: "2019-07-30T10:21:42.808Z"
updatedAt: "2019-07-30T10:21:48.262Z"
type: "MARKDOWN_NOTE"
folder: "8eecd56ec7357d6ca8d6"
title: "@vue/cli"
tags: []
content: '''
  # @vue/cli
  
  ## Node.js の安定板をインストール
  
  `yum`経由でインストールするとバージョンが古かったり、`node`ではなく`nodejs`コマンドで登録されてたりいろいろ面倒。
  
  [n package](https://github.com/tj/n)を使ってインストールする。
  
  ```bash
  $ sudo yum install -y nodejs npm
  $ sudo npm install n -g
  $ sudo n stable
  $ sudo yum remove nodejs
  $ exec $SHELL -l
  ```
  
  n を使えば簡単に Node.js のバージョンを切り替えることができる。
  
  ## Vue CLI のインストール
  
  `vue-cli`は ver1.x または ver2.x の時のパッケージ名で、ver3.x からは`@vue/cli`になった。
  
  ```bash
  $ npm install -g @vue/cli
  [Killed.............] \\ fetchMetadata: sill mapToRegistry uri https://registry.npmjs.org/sax
  $ npm config set registry http://registry.npmjs.org
  ```
  
  > This instance ran out of memory. To free up memory, kill processes by choosing "Tools > Process List" in the menu bar.
  
  と出て、インストールが止まる。
  
  [npm installしようとすると"fetchMetadata"で止まるのをなんとかする](https://argrath.ub32.org/annex/2017/04/06-04.html)
  
  yarn でインストールする。
  
  ```bash
  $ sudo npm install -g yarn
  # sudo yum install yarn ?
  $ sudo yarn global add @vue/cli
  $ sudo yarn global add @vue/cli-init
  ```
  
  `yarn`でインストールしたパッケージは`/home/nn_ono272727/.config/yarn/global/node_modules/.bin/vue`に格納されるので、パスを通す必要がある。
  
  ```bash
  $ export PATH=$PATH:/home/nn_ono272727/.config/yarn/global/node_modules/.bin
  $ echo $PATH
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
