createdAt: "2019-05-05T13:01:28.557Z"
updatedAt: "2019-10-10T12:22:28.000Z"
type: "MARKDOWN_NOTE"
folder: "770da9bb44957224bcc5"
title: "C"
tags: [
  "途中"
]
content: '''
  # C
  
  ## コンパイルと実行
  
  ```c
  
  ```
  
  ```bash
  $ gcc [実行するファイル名] -o [コンパイルした後の名前] ./[コンパイルした後の名前]
  Hello C Wolrd!
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
