createdAt: "2019-09-22T09:02:57.401Z"
updatedAt: "2019-10-10T12:27:24.521Z"
type: "MARKDOWN_NOTE"
folder: "846fb24c5f8aad917395"
title: "やること"
tags: []
content: '''
  # やること
  
  - アプリを最低5個リリース
    - 電卓 Vanilla.js & Vue.js
    - Line-TVbot
    - F1 bot
    - Todolsit (Vue.js + RoR)
    - 日報 (Vue.js + Firestore)
    - nn-mail  
    
  ## バイト中にやるやつ  
  
  - サイパトメール
    - [x] TSLint
    - [ ] Cloud Firestore
  - 日報
    - [ ] TypeScript 化  
  - 日報2
    - Cloud Firestore
      - [ ] スキーマ定義
      - [ ] 提出
      - [ ] 管理画面で表示
      - [ ] 今日の日報だけ抽出
      - [ ] ビジュアライズ
    - Cloud Messaging
      - [ ] 通知
  
  ## アプリ
  
  - 電卓 (calc-vue)
  - 電卓 (calc-js)
  - Todolist
  
  - Line-TVbot
    - [ ] Serverless で CLI からデプロイ
    - [ ] AWS DynamoDB に Store を保存する
    - [ ] AWS API Gateway 返信
      - キーワードを与えたら検索して送信する関数
      - DynamoDB から取得してキーワード投げる関数
      - API Gateway から Webhook でキーワード投げる関数
  
  ## テキスト
  
  - JSPrimer
  - JavaScript 入門
  - You Don't know JS
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
