createdAt: "2019-05-09T12:35:32.235Z"
updatedAt: "2019-10-10T07:41:32.673Z"
type: "MARKDOWN_NOTE"
folder: "4039f1ba9fa0956ce334"
title: "padding"
tags: [
  "padding"
]
content: '''
  # padding
  
  `padding`プロパティは、上下左右のパディングをまとめて指定する際に使用します。 上下左右を異なるパディング幅にしたい場合には、スペースで区切って複数の値を指定する。
  
  - 値を1つ指定した場合 - 指定した値が[上下左右]のパディング
  - 値を2つ指定した場合 - 記述した順に[上下][左右]のパディング
  - 値を3つ指定した場合 - 記述した順に[上][左右][下]のパディング
  - 値を4つ指定した場合 - 記述した順に[上][右][下][左]のパディング
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
