createdAt: "2019-05-09T12:42:05.403Z"
updatedAt: "2019-05-09T12:45:05.819Z"
type: "MARKDOWN_NOTE"
folder: "cfb8bb7394508a89ba1d"
title: "zsh"
tags: [
  "zsh"
]
content: '''
  ## zsh
  
  #### インストール
  ``` bash
  $ yum install zsh
  ```
  
  #### 使用できるシェルに zsh を追加
  ```diff:/etc/shells
  + /usr/bin/zsh
  ```
  
  #### シェルを変更
  ```bash
  $ which zsh
  /usr/bin/zsh
  $ chsh -s /usr/bin/zsh
  ```
  
  #### カスタマイズ
  ```bash
  $ vi ~/.zshrc
  ```
  `rmate`で開くとキャリッジリターンが`^M`となって文字化けするので`vi`で編集する。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
