createdAt: "2019-05-06T14:32:46.043Z"
updatedAt: "2019-05-06T14:53:55.592Z"
type: "MARKDOWN_NOTE"
folder: "6e177d4f524b42f84558"
title: "HTML tips"
tags: []
content: '''
  # HTML tips
  
  ### 回り込み
  - footerの前に空`div`挿入して、`.clear`とする。
  ```css
  .clear {
    clear: both;
  }
  ```
  - 2カラムの部分を`.wrapper`, `.clearfix`とする
  ```css
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  ```
  - `clearfix`クラスの要素の終了タグの直後をセレクタとして選択し、空文字で、両側の float を解除する block 要素を追加。
  空divと考え方は同じ。本来は横スクロールバーの出現を制御するもの。
  ```css
  #wrapper {
    overflown: hidden;
  }
  ```
  
  ### inline, inline-block, block
  #### inline
  ```html
  <a>, <abbr>, <acronym>, <b>, <basefont>, <bdo>, <big>, <br>, <cite>, <code>, <dfn>, 
  <em>, <font>, <i>, <img>, <input>, <kbd>, <label>, <q>, <s>, <samp>, <select>, 
  <small>, <span>, <strike>, <strong>, <sub>, <sup>, <textarea>, <tt>, <u>, <var>
  ```
  #### inline-block
  ブロックレベル要素のような高さと幅を持ちながら、横に並べられる
  #### block
  ```html
  <address>, <blockquote>, <center>, <div>, <dl>, <fieldset>, <form>, <h1>-<h6>, 
  <hr>, <noframes>, <noscript>, <ol>, <p>, <pre>, <table>, <ul>
  ```
  ```html
  <p><strong>段落</strong></p> <!-- o -->
  <strong><p>段落</p></strong> <!-- x -->
  ```
  ### position
  #### position: fixed
    スクロールしても固定
  #### 画像の下に空白できるときがある
  ```css
  img {
      vertical-align: bottom;
  }
  ```
  
  ### padding
  `padding`プロパティは、上下左右のパディングをまとめて指定する際に使用します。 上下左右を異なるパディング幅にしたい場合には、スペースで区切って複数の値を指定する。
  
  - 値を1つ指定した場合：	指定した値が[上下左右]のパディング
  - 値を2つ指定した場合：	記述した順に[上下][左右]のパディング
  - 値を3つ指定した場合：	記述した順に[上][左右][下]のパディング
  - 値を4つ指定した場合：	記述した順に[上][右][下][左]のパディング
  
  #### `li`を`display: inline-block`にしたとき
  `li`は block 要素なので複数のliを箇条書きにすると改行で半角スペースが挿入されてしまい、横幅を超えてカラム落ちしてしまう。`li`を1行で書いてもいいが、視認性悪い。
  ```css
  #global_navi ul {
    font-size: 0;  /* 半角スペース削除 */
  }
  #global_navi ul li{
    font-size: 14px;  /* フォントサイズ復活*/
    display: inline-block;
    width: 163px;  /* もともと164だった*/
    margin-right: 1px;  /* ボタンが同士がくっついちゃうので間隔開ける*/
  }
  ```
  とすれば、OK。
  
  ### 上付き文字(Superscript)
  ```html
  <sup>2</sup>
  ```
  
  ### `display: inline-block;`から変更できない要素
  ```html
  <button>
  <input> <!-- (type=image と type=hidden を除く) -->
  <meter>
  <progress>
  <select>
  <textarea>
  <keygen>
  ```
  [display: block で width 100% にならない要素](https://qiita.com/ysds/items/ea86e9b4a675f662497d)
  
  ### submit
  `<input type="submit">`より`<button type="submit">`を使う
  ```html
  <form>
    <input type='submit' name='action' value='送信'>
    <input type='submit' name='action' value='下書き保存'>
  </form>
  <script>
    If ($_POST["action"] == "送信") {
      // 送信処理
    } else if {$_POST["action"] == "下書き保存"
      // 保存処理
    }
  </script>
  ```
  のようにコードに日本語が混じる。以下のようにするのがよい。
  ```html
  <form>
    <button type="submit" name="action" value="send">送信</button>
    <button type="submit" name="action" value="save">下書き保存</button>
  </form>
  <script>
    If ($_POST["action"] == "send") {
      //送信処理
    } else if ($_POST["action"] == "save") {
      // 保存処理
    }
  </script>
  ```
  
  ### data-toggle="#idname"
  `id="idname"`のやつを参照する。
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
